.user-wrapper {
  display: flex;
  &__divider {
    margin-left: 12px;
    margin-right: 4px;
  }
}

.mat-toolbar {
  background-color: #FDFCF0;
}

.example-spacer {
  flex: 1 1 auto;
}

.divider-vertical {
  height: 50%;
  margin: 0 10px;
}
