<mat-toolbar>
  OWT Cinema
  <span class="example-spacer"></span>
  <div class="user-wrapper" *ngIf="(isLoggedIn$ | async); else notLoggedIn">
    <span>Hello, {{ (userLoggedIn$ | async)?.data?.hoTen }}</span>
    <mat-divider vertical class="user-wrapper__divider"></mat-divider>
    <button mat-button color="accent" (click)="signOut()">
      Sign out
    </button>
  </div>

  <ng-template #notLoggedIn>
    <button mat-button color="primary" (click)="goPlaces('/auth')">
      Sign in
    </button>
    <mat-divider vertical class="divider-vertical"></mat-divider>
    <button mat-button color="accent" (click)="goPlaces('/auth/sign-up')">
      Sign up
    </button>
  </ng-template>
</mat-toolbar>
