@import "../../../../assets/styles/variables.scss";

:host {
  width: 40%;
}

.mat-mdc-card {
  .mat-mdc-card-content {
    padding: 50px 20px 0 20px;
    .formWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .mat-mdc-form-field {
        width: calc((100% / 2) - 10px);
      }
    }
  }
  .mat-mdc-card-footer {
    padding: 10px;
    a {
      color: $text-link;
      text-decoration: none;
    }
  }
}

.submit-btn {
  margin: 0 auto;
}
