<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="formWrapper"
      [formGroup]="signInForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(signInForm)"
    >
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Email *"
          formControlName="email"
        />
        <mat-error *ngIf="checkValidation('email')">
          {{ getEmailErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="User name *"
          formControlName="userName"
        />
        <mat-error *ngIf="checkValidation('userName')">
          {{ getUserNameErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password *"
          formControlName="password"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="checkValidation('password')">
          {{ getPasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Confirm password *"
          formControlName="confirmPassword"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="confirmPassword?.hasError('required')"
          >Confirm password is required</mat-error
        >
        <mat-error
          *ngIf="
            confirmPassword?.invalid && !confirmPassword?.hasError('required')
          "
          >Confirm password don't match</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Full name *"
          formControlName="fullName"
        />
        <mat-error *ngIf="checkValidation('fullName')">
          {{ getFullNameErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Phone number*"
          formControlName="phoneNumber"
        />
        <mat-error *ngIf="checkValidation('phoneNumber')">
          {{ getPhoneNumberErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <div class="error-message" *ngIf="!!(signup$ | async)?.error?.['error']">
        <mat-icon>dangerous</mat-icon>
        <span>{{ (signup$ | async)?.error?.['error'] }}</span>
      </div>
      <button
        class="submit-btn"
        mat-raised-button
        color="primary"
        type="submit"
      >
        <mat-icon *ngIf="(signup$ | async)?.isLoading"
          ><mat-spinner color="accent" diameter="15"></mat-spinner></mat-icon
        >SIGN UP
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer align="end">
    Do you have any accounts?
    <a routerLink="/auth">
      <span>Sign In</span>
    </a>
  </mat-card-footer>
</mat-card>
