<div class="wrapper">
  <div class="info">
    <img
      class="info__img"
      [src]="(movieInfo$ | async)?.data?.thongTinPhim?.hinhAnh"
      alt="movie-img"
    />
    <div class="info__content">
      <p class="info__content--location">
        {{ (movieInfo$ | async)?.data?.thongTinPhim?.tenCumRap }}
      </p>
      <p class="info__content--sub-location">
        {{ (movieInfo$ | async)?.data?.thongTinPhim?.diaChi }}
      </p>
    </div>
  </div>
  <img
    class="screen"
    src="../../../../assets/images/screen-shadow.png"
    alt="screen-shadow"
  />

  <div class="main">
    <div class="seatRow" *ngFor="let seatRow of getSeatsWithRow()">
      <span class="seatRow__name">{{ seatRow.rowName }}</span>
      <div class="seatRow__seats">
        <button
          [ngClass]="[getSeatClass(seat), 'seatRow__seats--seat']"
          *ngFor="let seat of seatRow.seats; let i = index"
          mat-button
          [disabled]="seat.daDat"
          (click)="selectSeat(seat, seatRow.rowName + (i + 1))"
        >
          <mat-icon *ngIf="seat.daDat" class="reserved">close</mat-icon>
          <span class="name">{{
            seat.daDat ? "" : seatRow.rowName + (i + 1)
          }}</span>
        </button>
      </div>
    </div>

    <!-- Hint -->
    <div class="seatHint">
      <div class="seatHint__item" *ngFor="let seatHint of seatsHint">
        <div [ngSwitch]="seatHint.name">
          <span
            *ngSwitchCase="'Selected Seat'"
            [ngStyle]="{ 'background-color': seatHint.color }"
            class="seatHint__item--seat"
          >
            <mat-icon class="close-icon">close</mat-icon>
          </span>
          <span
            *ngSwitchDefault
            [ngStyle]="{ 'background-color': seatHint.color }"
            class="seatHint__item--seat"
          >
          </span>
        </div>
        <span>{{ seatHint.name }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar">
  <p class="sidebar__price">{{ "$" + (totalToPay$ | async | number) }}</p>
  <mat-divider></mat-divider>
  <div class="sidebar__item">
    <span class="sidebar__item--title">Movie's name:</span>
    <strong>{{ (movieInfo$ | async)?.data?.thongTinPhim?.tenPhim }}</strong>
  </div>
  <mat-divider></mat-divider>
  <div class="sidebar__item">
    <span class="sidebar__item--title">Showtime:</span>
    <strong
      *ngIf="
        (movieInfo$ | async)?.data?.thongTinPhim?.gioChieu ||
        (movieInfo$ | async)?.data?.thongTinPhim?.ngayChieu
      "
      >{{
        (movieInfo$ | async)?.data?.thongTinPhim?.gioChieu +
          " - " +
          (movieInfo$ | async)?.data?.thongTinPhim?.ngayChieu
      }}</strong
    >
  </div>
  <mat-divider></mat-divider>
  <div class="sidebar__item">
    <span class="sidebar__item--title">Location:</span>
    <strong>{{ (movieInfo$ | async)?.data?.thongTinPhim?.diaChi }}</strong>
  </div>
  <mat-divider></mat-divider>
  <div class="sidebar__item">
    <span class="sidebar__item--title">Seats:</span>
    <div>
      <strong
        *ngFor="
          let nameOfSeatsSelecting of namesOfSeatsSelecting$ | async;
          let i = index
        "
        >{{
          i === 0 ? nameOfSeatsSelecting : ", " + nameOfSeatsSelecting
        }}</strong
      >
    </div>
  </div>
  <button
    class="pay-btn"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
    [disabled]="(namesOfSeatsSelecting$ | async)?.length === 0"
  >
    PAY
  </button>
</div>
