<mat-card>
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="formWrapper"
      [formGroup]="signInForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(signInForm)"
    >
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="User name *"
          formControlName="taiKhoan"
        />
        <mat-error *ngIf="checkValidation('taiKhoan')">
          {{ getUserNameErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password *"
          formControlName="matKhau"
        />
        <mat-error *ngIf="checkValidation('matKhau')">
          {{ getPasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <button
        class="submit-btn"
        mat-raised-button
        color="primary"
        type="submit"
      >
        SIGN IN
        <mat-icon *ngIf="(userLoggedIn$ | async)?.isLoading"
          ><mat-spinner color="accent" diameter="15"></mat-spinner
        ></mat-icon>
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer align="end">
    Do not have an account?
    <a routerLink="/auth/sign-up"> <span>Sign Up</span></a>
  </mat-card-footer>
</mat-card>
