@import "../../../../assets/styles/variables.scss";

:host {
  width: 30%;
}

.mat-mdc-card {
  .mat-mdc-card-content {
    padding: 50px 20px 0 20px;
    .formWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .error-message {
        width: 100%;
        background-color: $background-error;
        padding: 10px;
        border-radius: 4px;
        color: white;

        display: flex;
        align-items: center;
        gap: 10px;

        span {
          text-align: center;
          font-weight: 500;
        }
      }
    }
  }
  .mat-mdc-card-footer {
    padding: 10px;
    a {
      color: $text-link;
      text-decoration: none;
    }
  }
}

.submit-btn {
  margin: 0 auto;
}
