<footer>
  <div class="content">
    <img src="../../../../assets/images/cgv-small.png" alt="cgv-small">
    <span class="example-spacer"></span>
    <div class="description-wrapper">
      <p>COMPANY CJ CGV VIETNAM</p>
      <p>Business registration certificate: 0303675393, registered for the first time on 31/7/2008, registered for the fifth change on 14/10/2015, issued by HCMC Department of Planning and Investment.</p>
      <p>Address: Floor 2, Rivera Park Saigon - No. 7/28 Thanh Thai street, Ward 14, District 10, HCMC.</p>
      <p>Hotline: 1900 6017</p>
      <p>COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED .</p>
    </div>
  </div>
</footer>
