.mat-mdc-dialog-title {
  text-align: center;
}

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: flex;
    justify-content: space-between;
    &__content {
      font-weight: 600;
      color: black;
    }
  }
}
