// Text
$text-link:#007bff;
$text-green-high: #108f3e;
$text-green-middle: #8bc541;
$text-gray-middle: #9b9b9b;
$text-orange: #fa5238;

// Border
$border-gray-middle: #ebebec;

// Background
$background-error: #f44336;

// Seat
$seat-normal: #3e515d;
$seat-vip: #f7b500;
$seat-reserved: #cccccc;
$seat-selecting: #28a745;
